.row {
  height: 7.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem;

  .title {
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: 500;
  }

  & > *:not(:first-child, :last-child) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.mt-minus2 {
  margin-top: -2rem;
} //idk why! :))
